@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
	<h1 class="display-4">Kontakt Information</h1>
	<h2>IBAS Kantinen</h2>
	<p >Navn: Karen Hansen</p>
	<p >Telefon: 12345678</p>
	<p >Email: "Karen@IBAS.dk" </p>

}
